<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":2} -->
		<h2>Search results:</h2>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
	<!-- wp:query {query":{"inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:template-part {"slug":"content"} /-->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->